body {
    background-color: transparent !important;
}

.template, .notification {
    display: none;
}

.notif-container {
    width: 20%;
    position: absolute;
    right: 15%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    padding: 8px;
    width: fit-content;
    border-radius: 3px;
    margin: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.success {
    background: rgba(51, 112, 165, 0.85);
    color: #fff;
}

.inform {
    background-color: rgba(51, 112, 165, 0.85);
    color: #fff;
}

.error {
    background: rgba(181, 82, 85, 0.85);
    color: #fff;
}

.gepuk {
    background-color: rgb(255, 123, 0);
    color: #fff;
}

.fight {
    background: rgba(255, 0, 0, 0.85);
    color: #fff;
}